*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#ff9a9e,
#fad0c4
);

overflow:hidden;
}

.container{
width:600px;
padding:40px;
text-align:center;

background:rgba(255,255,255,0.2);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:
0 0 25px rgba(255,255,255,0.4);

animation:float 3s infinite alternate;
}

h1{
margin-bottom:20px;
color:white;
font-size:38px;
}

p{
color:white;
font-size:20px;
margin:15px;
line-height:1.5;
}

button{
margin-top:30px;

padding:15px 30px;

border:none;

border-radius:30px;

font-size:18px;

cursor:pointer;

background:white;

color:#ff4081;

transition:0.4s;
}

button:hover{
transform:scale(1.1);

box-shadow:
0 0 30px pink;
}

#message{
margin-top:20px;
color:white;
font-size:22px;
}

@keyframes float{

from{
transform:translateY(-10px);
}

to{
transform:translateY(10px);
}

}

.hearts::before,
.hearts::after{
content:"❤️ ❤️ ❤️ ❤️ ❤️";

position:absolute;

width:100%;

font-size:30px;

animation:fall 12s linear infinite;
}

.hearts::after{
animation-delay:5s;
}

@keyframes fall{

0%{
transform:translateY(-100vh);
}

100%{
transform:translateY(100vh);
}

}